### Assigning function to variable

In [5]:
a = lambda x: x*x
print(a(5))

25

### Passing Function as Parameter

In [6]:
def formalGreeting():
    print("How are you")

def casualGreeting():
    print("What's up")

def greet(type, greetFormal, greetCasual):
    if type == "formal":
        return greetFormal()
    elif type == "casual":
        return greetCasual()

greet("casual", formalGreeting, casualGreeting)

What's up

### Higher-Order Functions in Action

In [31]:
# without
arr1 = [1,2,3]
arr2 = []
for i in  range (len(arr1)):
        arr2.append(arr1[i] * 2)
print(arr2)

[2, 4, 6]

In [20]:
#with map
arr1 = [1,2,3]
arr2 = list(map(lambda x: x * 2, arr1))
print(arr2)

[2, 4, 6]

In [30]:
#without
birthYear = [1975, 1997, 2002, 1995, 1985]
ages = []

for i in range (len(birthYear)) :
        age = 2018 - birthYear[i]
        ages.append(age)

print(ages)

[43, 21, 16, 23, 33]

In [32]:
# with map
birthYear = [1975, 1997, 2002, 1995, 1985]
ages = list(map(lambda x: 2018 - x , birthYear))
print(ages)

[43, 21, 16, 23, 33]

In [49]:
#without 

person = [
    
    { "name": 'Mark', "age": 18 },
    { "name": 'John', "age": 27 },
    { "name": 'Jane', "age": 14 },
    { "name": 'Tony', "age": 24},
]
fullAge = []

for i in range (len(person)):
    if person[i]['age'] >= 18:
        fullAge.append(person[i])

print(fullAge)

[{'name': 'Mark', 'age': 18}, {'name': 'John', 'age': 27}, {'name': 'Tony', 'age': 24}]

In [51]:
#with filter
person = [
    
    { "name": 'Mark', "age": 18 },
    { "name": 'John', "age": 27 },
    { "name": 'Jane', "age": 14 },
    { "name": 'Tony', "age": 24},
]
fullAge = list(filter(lambda x: x["age"] >=18, person))
print(fullAge)

[{'name': 'Mark', 'age': 18}, {'name': 'John', 'age': 27}, {'name': 'Tony', 'age': 24}]

In [38]:
#without 
arr = [5, 7, 1, 8, 4]
sum = 0

for i in range (len(arr)):
    sum += arr[i]

print(sum)

25

In [41]:
#with reduce
from functools import reduce

arr = [5, 7, 1, 8, 4]
reduce (lambda x,y : x+y, arr)

25

### Creating Our own Higher-Order Function

In [55]:
strArray = ['JavaScript', 'Python', 'PHP', 'Java', 'C']
data = []
for d in strArray:
    data.append(len(d))
print(data)

[10, 6, 3, 4, 1]